@import "tailwindcss";

@layer utilities {
  /* Apply custom scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Adjust width */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a1a1a1; /* Light gray scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #969393; /* Darker on hover */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }
}


  
  @theme {
    --font-karla: var(--font-karla), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-script: var(--font-league-script), cursive;
    --font-zain: var(--font-zain), sans-serif;
  }